<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Codaisseurup</h1>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more about Codaisseurup &raquo;</a></p>
  </div>
</div>

<div class="container">
  <h3>Upcoming events</h3>
  <div class="row">
    <% @events.each do |event| %>
    <div class="col-md-4">
      <h4><%= link_to event.name, event_path(event.id) %></h4>
      <img src="http://www.skiheavenly.com/~/media/heavenly/images/732x260%20header%20images/events-heavenly-header.ashx", width="300" height="200">
    </div>
    <%end%>
  </div>
</div>

<hr>

<div class="container">
  <h3>Explore</h3>
  <div class="row">
      <% @categories.each do |category| %>
      <div class="col-md-4">
      <h4><%= link_to category.name, category_path(category.id) %></h4>
      </div>
    <%end%>
  </div>
</div>

<hr>

<footer>
  <p>&copy; 2016 Codaisseurup</p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
